.bg-img {
  background-image: url('../media/bg-img.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-size: 100vh;
  background-color: #445566;
}

.header-height {
  max-height: 3rem;
}

.icecream-card {
  background-color: #fff8e1;
  border: 2px solid #bfa36f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: transform 0.2s ease;
}

.icecream-card:hover {
  transform: scale(1.01);
}

.icecream-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.btn {
  background-color: #704214;
  color: #fff8e1;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.75rem;
  width: 100%;
  font-weight: bold;
}

/* colors:*/
  .blue-gray {
    background-color: #445566 !important;
  }
  .frost-white {
    background-color: #e6f0f8 !important;
  }
  .frost-white-txt {
    color: #e6f0f8 !important; 
  }

  .light-gold {
    background-color: #ffd166;
  }

  .wine-bg {
    background-color: #5C2A44
  }

  .wine-color {
    color: #5C2A44;
  }

  .parchment-bg {
  background-color: #C9A66B;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #8B5A2B;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  font-family: 'MedievalSharp', cursive;
  }

  /* Fonts: */
  .medieval-font {
    font-family: 'MedievalSharp', cursive;
  }

  .big-letter {
    font-family: 'UnifrakturCook', cursive;
  }
