.bg-img {
  background-image: url('../media/bg-img.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-size: 100vh;
  background-color: #445566;
}

.icecream-card {
  background-color: #fff8e1 !important;
  border: 2px solid #bfa36f !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: transform 0.2s ease;
}

.icecream-card:hover {
  transform: scale(1.01);
}

.icecream-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.btn {
  background-color: #704214 !important;
  color: #fff8e1 !important;
  border: none !important;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 0.75rem;
  width: 100%;
  font-weight: bold !important;
}